body{
    background-color: plum;
}
#p1{
    color: white;
}
#p2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#p3{
    background-color: black;
    color: white;
}
#p4{
    font-style: italic;
}

p::first-letter{
    font-size: 6em;
    initial-letter: 3;  
}

/* 
#image {
    float:left;
}

.box {
    border: 2px solid;
    padding: 25px;
    box-sizing: border-box;
    height:
    width:
    float: left;
    text-align:center;
    max-height:
    min-height: 
}

Positions
- Relative: positioned relative to where it normally is
- Static: Positioned static by default, not affected by the top, button, left, and right properties.
- Fixed: Always stays in the same place even if the page is scrolled.
- Absolute: Posititoned relative to the nearest positioned ancestor
- Sticky: Positioned based on the user´s scroll position
*/