.produkt {
    /* border-style: solid; */
    /* border-color: #aaaaaa; */
    /* border-radius: 5px; */
    box-shadow: 5px 5px 5px #aaaaaa;
    width: 22rem;
    text-align: center;
}

.debug {
    border-style: solid;
    border-width: 2px;
    border-color: #ff0000;
}


